# Default owners for all files
* @ScottGibb @petekubiak @jamessizeland

# Override the default owners and remove ownership for specific files
Cargo.toml

# Override the default owners and remove ownership for the .github/workflows directory
.github/workflows/